.one{
    text-align: center;
    background-color: #c7bfbf;
    
}
.two{
    background-color: #2727fd;
    margin:0 auto;
    color:#fae9e9;
}
.three{
    background-color: #7171f8;
    margin: 0 auto;
    color:#fae9e9;
}
.four{
      background-color: #9e9efb;
      margin: 0 auto;
      color:#fae9e9;
}
.five{
     background-color: #b7b7fc;
     margin: 0 auto;
     color:#fae9e9;
}
.six{
     background-color: #cacaf7;
     margin: 0 auto;
     color:#fae9e9;
}
.seven{
      background-color: #dadafa;
      margin: 0 auto;
      color:#fffbfb;
}
.eight{
    background-color: #e1e1fa;
    margin: 0 auto;
    color:#fdfafa;
}
.nine{
    background-color:#45e845;
    margin: 0 auto;
    color:#fae9e9;
}
.ten{
    background-color: #f6d5da;
    margin: 0 auto;
    color:#fdfcfc;
}
.eleven{
     background-color: #f7c6ce;
     margin: 0 auto;
     color:#fae9e9;
}
.twelve{
      background-color: #f9b3c1;
      margin: 0 auto;
      color:#fae9e9;
}
.thirteen{
       background-color: #ff9fae;
       margin: 0 auto;
       color:#fae9e9;
}
.fourteen{
         background-color: #fd8fa0;
         margin: 0 auto;
         color:#fae9e9;
}
.fifteen{
        background-color: #fe7287;
        margin: 0 auto;
        color:#fae9e9;
}
.sixteen{
       background-color: #f7435e;
       margin: 0 auto;
       color:#fae9e9;
}